body{
    background:linear-gradient(120deg,#ff69e6,#00ddff);
    font-family: "Baloo Bhai 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}
form{
    position: absolute;
    padding: 10px;
    margin: 10px;
    left: 400px;
    top: 150px;
    height:max-content;
    border: 0.5px solid #111111;
    border-radius: 14px;
    z-index: 2;
    box-shadow: 0px 5px 20px #111111bb;
    backdrop-filter: blur(40px);
}

.input{
    position:relative;
    font-size: 4vh;
}
.input input{
    width: 20rem;
    color:#f2f7fe;
    border-color:#161418;
    background-color:transparent;
    border:solid;
    margin: 5px;
}
input :focus{
    text-decoration-style: none;
    border-color: aqua;
  
}
form .input,.button {
    border: none;
    padding: 10px;
}
.button{
    border: none;
    margin: 10px;
    font: 10px;
}
    .button button {
        background-color: #494bb3;
        border: none;
        color: #f2f7fe;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        margin-left: 50%;
        /* width: 10px; */
        margin-right: 50%;
    }
button :focus{
    border-color:aqua;
    text-decoration: none;
}
/*Navigation Bar*/
.topnav {
  background-color: #9f95ef;
  overflow: hidden;
  border-radius: 10%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 1000000%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 1000000%;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
  border-radius: 1000000%;
}


